.header-content {
    height: 95px;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
}

.h-left{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.h-left-logo {
    height: 100%;
    width: 50%;
    aspect-ratio: 1/1; /*保证始终是正方形*/
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: -30px;
}

.h-left-text {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.h-left a{
    display: block;
    width: 100%;
    height: 100%;
}

.h-middle {
    width: 80%;
}
.h-middle ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.h-middle ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.h-middle>ul>li:hover {
    cursor: pointer;
}

.h-right {
    aspect-ratio: 1/1; /*保证始终是正方形*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-menu {
    display: flex;
}

.mobile-menu-button {
    display: none;
}

.mobile-menu-button:hover {
    background: transparent !important; /*去掉hover效果*/
}

.h-mobile-menu {
    display: none;
}



@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu-button {
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 50%;
        font-size: 50px;
        padding: 0;
        cursor: pointer;
        color: white;
        box-shadow: none;
    }

    .h-middle {
        display: none;
    }

    .h-right {
        display: none;
    }

    .h-mobile-menu {
        display: flex;
        width: 80%;
        align-items: center;
    }
    .header-content {
        height: 95px;
        display: flex;
        flex-direction: row;
        padding: 0 0;

    }

    .mobile-menu-button {
        margin-left: auto;
    }

    .h-mobile-menu-nav {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

    .h-mobile-menu-nav>p:hover {
        cursor: pointer;
    }

}